@{
    //MEDIA LIBRARY:
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSourceHorizontal.cshtml";
}

<style>
    .mediaList { /*for all <li> in ng-repeat*/
        float: left;
        list-style-type: none;
        width: 150px;
        height: 150px;
        background-size: cover;
        /*background-position: bottom center;*/
        border-radius: 5%;
        margin: 1px;
    }

    .widget-body { /*space between the media selection header and first rows of images*/
        margin-top: 15px;
    }

    #mediaSelectionPanel { /*Space between the image details + media selection panel*/
        margin-bottom: 40px;
    }

    .popover {
        max-width: 450px;
    }
</style>

<div id="topScroll"></div>
<div class="row" ng-controller="ng4TreeController as TC">
    <div class="col-md-6" id="treeContainer" ng-include="'/Scripts/sabio/mediaLibrary/templates/mainTemplate.html'" ng-init="TC.modeCheck('medLib')"></div>
    <div class="col-md-6" id="options-panel">
        <!--Code for the image bank panels-->
        <!-- begin add folder panel -->
        <!--begin heading-->
        <div class="panel panel-warning" ng-show="TC.displayFolderAdd">
            <div class="panel-heading">
                <div class="pull-left panel-title">
                    <h4 class="text-white">Add Folder</h4>
                </div>
                <div class="panel-heading-btn pull-right">
                    <a href="#" class="btn btn-sm ion-close btn-circle btn-grey ion-bigger cmdCancel" ng-click="TC.addFolderCancel()"></a>
                </div>
                <div class="panel-heading"></div>
            </div>
            <!--end heading-->
            <div class="panel-body">
                <form class="form-horizontal" name="TC.addFolder" ng-submit="TC.insertFolder()" novalidate>
                    <label class="control-label">Folder Name</label>
                    <input type="text"
                           class="form-control"
                           id="addFolderName"
                           ng-blur="TC.addFolderSlug()"
                           ng-class="{'error': TC.showErrors && !TC.addFolder.folderNameAdd.$valid}"
                           ng-model="TC.aFolder.FolderName"
                           ng-minlength="5"
                           name="addFolderName" required />
                    <!--Error Message:-->
                    <div role="alert" class="help-inline error">
                        <span class="error" ng-show="TC.showErrors && TC.addFolder.addFolderName.$error.required">Please provide a folder name</span>
                        <span class="error" ng-show="TC.showErrors && TC.addFolder.addFolderName.$error.minlength">Folder names must be at least 5 characters in length.</span>
                    </div>

                    <label class="control-label">Slug</label>
                    <input type="text"
                           class="form-control"
                           id="folderSlugAdd"
                           ng-model="TC.aFolder.slug"
                           ng-disabled="TC.folderSlugDisabled"
                           name="folderSlugAdd"/>

                    <label class="control-label">Access Level</label>
                    <select class="form-control"
                            name="imageAccessEdit"
                            ng-model="aFolder.imageAccessEdit">
                        <option value="admin">Admin</option>
                    </select>

                    <!--Hidden input to contain the parentId-->
                    <input type="text"
                           class="form-control hidden"
                           ng-model="TC.aFolder.ParentFolderId"
                           name="ParentFolderId" />
                    <br />
                    <div class="btn-group pull-right">
                        <button type="submit" class="btn btn-warning" id="cmdFolderAdd">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- end add folder panel-->
        <!-- begin add media panel -->
        <div class="panel panel-info" ng-show="TC.displayMediaAdd">
            <div class="panel-heading">
                <div class="panel-title pull-left">
                    <h4 class="text-white">Add Media</h4>
                </div>
                <div class="panel-heading-btn pull-right">
                    <a href="#" class="btn btn-sm ion-close btn-circle btn-grey ion-bigger cmdCancel" ng-click="TC.addMediaCancel()"></a>
                </div>
                <div class="panel-heading"></div>
            </div>
            <div class="panel-body">
                <div style="text-align: center">
                    <!--Start of DropzoneNg container-->
                    <form id="mediaForm" dropzone="TC.myDropzone" class="dropzone">
                        <div class="dz-message" ng-show="TC.displayDzMsg">
                            <span class="glyphicon glyphicon-picture" style="font-size: 3em"></span><br /> "Drag an image here to upload, or click to select one."
                        </div>
                        <div class="fallback">
                            <input type="file" name="file" multiple />
                        </div>
                    </form>
                    <!--End of Dropzone container-->
                </div>
            </div>
        </div>
        <!-- end add media panel-->
        <!-- begin delete media/folder panel -->
        <div class="panel panel-danger" ng-show="TC.displayDeletePanel">
            <div class="panel-heading">
                <div class="pull-left panel-title">
                    <h4 class="text-white">Delete</h4>
                </div>
                <div class="panel-heading-btn pull-right">
                    <a href="#" class="btn btn-sm ion-close btn-circle btn-grey ion-bigger cmdCancel" ng-click="TC.deleteCancel()"></a>
                </div>
                <div class="panel-heading"></div>
            </div>

            <div class="panel-body">
                <div style="text-align: center; vertical-align: middle;">
                    <h5>Are you sure you want to delete <strong id="delItem" class="text-danger">{{TC.mainFileTbD}}</strong>? This action is permanent.</h5>
                    <div class="well m-b-0" ng-show="TC.wellDel">
                        <div ng-show="TC.folderCount">
                            <h5>Number of folder(s) to be deleted:</h5>
                            <h4>{{TC.tBdFolders}}</h4>
                        </div>
                        <div ng-show="TC.mediaCount">
                            <h5>Number of image(s) to be deleted:</h5>
                            <h4>{{TC.tBdMedias}}</h4>
                        </div>
                    </div>
                    <br />
                    <div class="button-group">
                        <button id="cancelDelete" class="btn btn-default cmdCancel" ng-click="TC.deleteCancel()">Cancel</button>
                        <button class="btn btn-danger" id="cmdDeleteConfirm" ng-click="TC.confirmDelete()">Confirm Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end add media panel-->
        //removed add media, edit folder, edit image, edit video, edit pdf, pdf details panels for brevity
        @* bringing in overlapping panels by medLib + imgBank from external file *@
        <ng-include src="'/Scripts/sabio/mediaLibrary/templates/medLib_imgBankPanels.html'"></ng-include>
    </div>
</div>

@section scripts {
    <!--Added in these script/stylesheet tags:-->
    <link href="~/Content/Dropzone/dropzone.css" rel="stylesheet" />
    <link href="~/Content/Dropzone/basic.css" rel="stylesheet" />
    <link href="~/Content/tree-control-attribute.css" rel="stylesheet" />
    <script src="~/Scripts/angular-tree-control.js"></script>
    <!--controller:-->
    <script src="~/Scripts/sabio/mediaLibrary/controllers/MediaLibController.js"></script>
}
