@{
    //MEDIA LIBRARY:
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSourceHorizontal.cshtml";
}

<style>
    .mediaList { /*for all <li> in ng-repeat*/
        float: left;
        list-style-type: none;
        width: 150px;
        height: 150px;
        background-size: cover;
        /*background-position: bottom center;*/
        border-radius: 5%;
        margin: 1px;
    }

    .widget-body { /*space between the media selection header and first rows of images*/
        margin-top: 15px;
    }

    #mediaSelectionPanel { /*Space between the image details + media selection panel*/
        margin-bottom: 40px;
    }

    .popover {
        max-width: 450px;
    }
</style>

<div id="topScroll"></div>
<div class="row" ng-controller="ng4TreeController as TC">
    <div class="col-md-6" id="treeContainer" ng-include="'/Scripts/sabio/mediaLibrary/templates/mainTemplate.html'" ng-init="TC.modeCheck('medLib')"></div>
    <div class="col-md-6" id="options-panel">
        <!--Code for the image bank panels-->
        <!-- begin add folder panel -->
        <!--begin heading-->
        <div class="panel panel-warning" ng-show="TC.displayFolderAdd">
            <div class="panel-heading">
                <div class="pull-left panel-title">
                    <h4 class="text-white">Add Folder</h4>
                </div>
                <div class="panel-heading-btn pull-right">
                    <a href="#" class="btn btn-sm ion-close btn-circle btn-grey ion-bigger cmdCancel" ng-click="TC.addFolderCancel()"></a>
                </div>
                <div class="panel-heading"></div>
            </div>
            <!--end heading-->
            <div class="panel-body">
                <form class="form-horizontal" name="TC.addFolder" ng-submit="TC.insertFolder()" novalidate>
                    <label class="control-label">Folder Name</label>
                    <input type="text"
                           class="form-control"
                           id="addFolderName"
                           ng-blur="TC.addFolderSlug()"
                           ng-class="{'error': TC.showErrors && !TC.addFolder.folderNameAdd.$valid}"
                           ng-model="TC.aFolder.FolderName"
                           ng-minlength="5"
                           name="addFolderName" required />
                    <!--Error Message:-->
                    <div role="alert" class="help-inline error">
                        <span class="error" ng-show="TC.showErrors && TC.addFolder.addFolderName.$error.required">Please provide a folder name</span>
                        <span class="error" ng-show="TC.showErrors && TC.addFolder.addFolderName.$error.minlength">Folder names must be at least 5 characters in length.</span>
                    </div>

                    <label class="control-label">Slug</label>
                    <input type="text"
                           class="form-control"
                           id="folderSlugAdd"
                           ng-model="TC.aFolder.slug"
                           ng-disabled="TC.folderSlugDisabled"
                           name="folderSlugAdd"/>

                    <label class="control-label">Access Level</label>
                    <select class="form-control"
                            name="imageAccessEdit"
                            ng-model="aFolder.imageAccessEdit">
                        <option value="admin">Admin</option>
                    </select>

                    <!--Hidden input to contain the parentId-->
                    <input type="text"
                           class="form-control hidden"
                           ng-model="TC.aFolder.ParentFolderId"
                           name="ParentFolderId" />
                    <br />
                    <div class="btn-group pull-right">
                        <button type="submit" class="btn btn-warning" id="cmdFolderAdd">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- end add folder panel-->
        <!-- begin add media panel -->
        <div class="panel panel-info" ng-show="TC.displayMediaAdd">
            <div class="panel-heading">
                <div class="panel-title pull-left">
                    <h4 class="text-white">Add Media</h4>
                </div>
                <div class="panel-heading-btn pull-right">
                    <a href="#" class="btn btn-sm ion-close btn-circle btn-grey ion-bigger cmdCancel" ng-click="TC.addMediaCancel()"></a>
                </div>
                <div class="panel-heading"></div>
            </div>
            <div class="panel-body">
                <div style="text-align: center">
                    <!--Start of DropzoneNg container-->
                    <form id="mediaForm" dropzone="TC.myDropzone" class="dropzone">
                        <div class="dz-message" ng-show="TC.displayDzMsg">
                            <span class="glyphicon glyphicon-picture" style="font-size: 3em"></span><br /> "Drag an image here to upload, or click to select one."
                        </div>
                        <div class="fallback">
                            <input type="file" name="file" multiple />
                        </div>
                    </form>
                    <!--End of Dropzone container-->
                </div>
            </div>
        </div>
        <!-- end add media panel-->
        <!-- begin delete media/folder panel -->
        <div class="panel panel-danger" ng-show="TC.displayDeletePanel">
            <div class="panel-heading">
                <div class="pull-left panel-title">
                    <h4 class="text-white">Delete</h4>
                </div>
                <div class="panel-heading-btn pull-right">
                    <a href="#" class="btn btn-sm ion-close btn-circle btn-grey ion-bigger cmdCancel" ng-click="TC.deleteCancel()"></a>
                </div>
                <div class="panel-heading"></div>
            </div>

            <div class="panel-body">
                <div style="text-align: center; vertical-align: middle;">
                    <h5>Are you sure you want to delete <strong id="delItem" class="text-danger">{{TC.mainFileTbD}}</strong>? This action is permanent.</h5>
                    <div class="well m-b-0" ng-show="TC.wellDel">
                        <div ng-show="TC.folderCount">
                            <h5>Number of folder(s) to be deleted:</h5>
                            <h4>{{TC.tBdFolders}}</h4>
                        </div>
                        <div ng-show="TC.mediaCount">
                            <h5>Number of image(s) to be deleted:</h5>
                            <h4>{{TC.tBdMedias}}</h4>
                        </div>
                    </div>
                    <br />
                    <div class="button-group">
                        <button id="cancelDelete" class="btn btn-default cmdCancel" ng-click="TC.deleteCancel()">Cancel</button>
                        <button class="btn btn-danger" id="cmdDeleteConfirm" ng-click="TC.confirmDelete()">Confirm Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end add media panel-->
        <!-- begin edit folder panel -->
        <div class="panel panel-warning" ng-show="TC.displayFolderEdits">
            <div class="panel-heading">
                <div class="pull-left panel-title">
                    <h4 class="text-white">Edit Folder</h4>
                </div>
                <div class="panel-heading-btn pull-right">
                    <a href="#" class="btn btn-sm ion-close btn-circle btn-grey ion-bigger cmdCancel" ng-click="TC.editFolderCancel()"></a>
                </div>
                <div class="panel-heading"></div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4 fa-align-center">
                        <div class="ion-folder text-warning-light text-center" style="font-size: 99px; ">
                        </div>
                    </div>
                    <div class="col-md-8 ">
                        <div class="row">
                            <form class="form-horizontal" name="TC.editFolderForm" ng-submit="TC.submitFolderEdit()" novalidate>
                                <label class="control-label">Folder Name</label>
                                <input type="text"
                                       class="form-control"
                                       ng-blur="TC.editFolderSlug()"
                                       ng-class="{'error': TC.showErrors && !TC.editFolderForm.folderName.$valid}"
                                       ng-model="TC.eFolder.folderName"
                                       ng-minlength="5"
                                       name="folderName" required />
                                <!--Error Message:-->
                                <div role="alert" class="help-inline error">
                                    <span class="error" ng-show="TC.showErrors && TC.editFolderForm.folderNameEdit.$error.required">Please provide a folder name</span>
                                    <span class="error" ng-show="TC.showErrors && TC.editFolderForm.folderNameEdit.$error.minlength">Folder names must be at least 5 characters in length</span>
                                </div>

                                <label class="control-label">Slug</label>
                                <input type="text"
                                       class="form-control"
                                       ng-class="{'error': TC.showErrors && !TC.editFolderForm.folderSlugEdit.$valid}"
                                       ng-disabled="TC.folderSlugDisabled"
                                       ng-model="TC.eFolder.slug"
                                       name="folderSlugEdit" required />
                                <!--Error Message:-->
                                <div role="alert" class="help-inline error">
                                    <span class="error" ng-show="TC.showErrors && TC.editFolderForm.folderSlugEdit.$error.required">Please provide a slug name</span>
                                </div>

                                <label class="control-label">Access Level</label>
                                <select name="folderAccessEdit"
                                        ng-model="TC.folderAccessEdit" @*TC.eFolder.folderAccessEdit*@
                                        class="form-control"
                                        ng-options="x.value as x.label for x in TC.accessItems"></select>
                                <br />
                                <div class="btn-group pull-right">
                                    <button type="submit" class="btn btn-warning" id="cmdFolderSave">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end edit folder panel-->
        <!-- begin edit image panel -->
        <div class="panel panel-primary" ng-show="TC.displayMediaEdits">
            <div class="panel-heading">
                <div class="pull-left panel-title">
                    <h4 class="text-white">Edit Image</h4>
                </div>
                <div class="panel-heading-btn pull-right">
                    <a href="#" class="btn btn-sm ion-close btn-circle btn-grey ion-bigger cmdCancel" ng-click="TC.editMediaCancel()"></a>
                </div>
                <div class="panel-heading"></div>
            </div>
            <div class="panel-body">
                <div class="row center-horizontal">
                    <div class="col-md-4">
                        <div class="">
                            <img id="editMediaImg" ng-src="{{TC.eMedia.mediaFullUrl}}" alt="thumbnail" class="img-responsive img-rounded">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="">
                            <form class="form-horizontal" name="TC.editImageForm" ng-submit="TC.submitMediaEdit()" novalidate>
                                <label class="control-label">Title</label>
                                <input type="text"
                                       class="form-control"
                                       ng-class="{'error': TC.showErrors && !TC.editImageForm.mediaTitle.$valid}"
                                       ng-model="TC.eMedia.mediaTitle"
                                       name="mediaTitle" required />
                                <!--Error Message:-->
                                <div role="alert" class="help-inline error">
                                    <span class="error" ng-show="TC.showErrors && TC.editImageForm.mediaTitle.$error.required">Please provide a media title</span>
                                </div>

                                <label class="control-label">Description</label>
                                <input type="text"
                                       class="form-control"
                                       ng-class="{'error': TC.showErrors && !TC.editImageForm.mediaDescription.$valid}"
                                       name="mediaDescription"
                                       ng-model="TC.eMedia.mediaDescription"
                                       required />
                                <!--Error Message:-->
                                <div role="alert" class="help-inline error">
                                    <span class="error" ng-show="TC.showErrors && TC.editImageForm.mediaDescription.$error.required">Please provide a description</span>
                                </div>

                                <label class="control-label">Status</label>
                                <select class="form-control"
                                        ng-class="{'error': TC.showErrors && !TC.editImageForm.mediaStatus.$valid}"
                                        name="mediaStatus"
                                        ng-model="TC.eMedia.mediaStatus"
                                        ng-options="x.value as x.label for x in TC.statusItems" required></select>
                                <!--Error Message:-->
                                <div role="alert" class="help-inline error">
                                    <span class="error" ng-show="TC.showErrors && TC.editImageForm.mediaStatus.$error.required">Please select a status for the media</span>
                                </div>

                                <label class="control-label">Access Level</label>
                                <select class="form-control"
                                        name="imageAccessEdit"
                                        ng-model="eMedia.imageAccessEdit"
                                        ng-options="x.value as x.label for x in TC.accessItems"></select>
                                <br />
                                <div class="btn-group pull-right">
                                    <button type="submit" class="btn btn-primary" id="cmdImageSave">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end edit image panel-->
        <!-- begin edit video panel -->
        <div class="panel panel-primary" id="panelEditVideo" ng-show="TC.displayVideoEdits">
            <div class="panel-heading">
                <div class="panel-title pull-left">
                    <h4 class="text-white">Edit Video</h4>
                </div>
                <div class="panel-heading-btn pull-right">
                    <a href="#" class="btn btn-sm ion-close btn-circle btn-grey ion-bigger cmdCancel" ng-click="TC.editVideoCancel()"></a>
                </div>
                <div class="panel-heading"></div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ion-social-youtube text-primary-light text-center" style="font-size: 150px;">
                        </div>
                        <p class="text-center">***replace with video player</p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12">
                        <div class="row ">
                            <form class="form-horizontal" id="videoEdit">
                                <label class="control-label">Filename</label>
                                <input type="text" class="form-control" id="videoFileNameEdit" name="videoFileNameEdit" />

                                <label class="control-label">Description</label>
                                <input type="text" class="form-control" id="videoDescriptionEdit" name="videoDescriptionEdit" />

                                <label class="control-label">Access Level</label>
                                <select class="form-control" id="videoAccessEdit" name="videoAccessEdit">
                                    <option>Admin</option>
                                </select>
                                <br />
                                <div class="button-group pull-right">
                                    <button type="button" class="btn btn-primary" id="cmdVideoSave">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end edit video panel -->
        <!-- begin edit pdf panel -->
        <div class="panel panel-primary" id="panelEditPdf" ng-show="TC.displayPdFedits">
            <div class="panel-heading">
                <div class="pull-left panel-title">
                    <h4 class="text-white">Edit Pdf</h4>
                </div>
                <div class="panel-heading-btn pull-right">
                    <a href="#" class="btn btn-sm ion-close btn-circle btn-grey ion-bigger cmdCancel" ng-click="TC.editPdFcancel()"></a>
                </div>
                <div class="panel-heading"></div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-horizontal">
                            <iframe class="embedPdfEdit" src="" style="width:40%; height:300px;" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="">
                            <form class="form-horizontal" id="editPdfForm">
                                <br />
                                <input type="text" class="form-control hidden" id="hiddenPdfId" name="hiddenPdfId" />

                                <label class="control-label">Title</label>
                                <input type="text" class="form-control" id="pdfTitle" name="mediaTitle" />

                                <label class="control-label">Description</label>
                                <input type="text" class="form-control" id="pdfDescription" name="mediaDescription" />

                                <label for="sel1">Status</label>
                                <select class="form-control" id="pdfStatus" name="mediaStatus">
                                    <option value="true">Active</option>
                                    <option value="false">Not Active</option>
                                </select>

                                <label class="control-label">Access Level</label>
                                <select class="form-control" id="pdfAccessEdit" name="mediaAccessEdit">
                                    <option>Admin</option>
                                </select>

                                <br />
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-primary" id="cmdPdfSave">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end edit pdf panel-->
        <!-- begin media -- pdf details panel -->
        <div class="panel panel-inverse" id="panelPdfDetails" ng-show="TC.displayPdFdetails">
            <div class="panel-heading">
                <div class="panel-title pull-left">
                    <h4 class="text-white">Pdf Details</h4>
                </div>
                <div class="panel-heading-btn pull-right">
                    <a href="#" class="btn btn-sm ion-close btn-circle btn-grey ion-bigger cmdCancel" ng-click="TC.detailsPdFcancel()"></a>
                </div>
                <div class="panel-heading"></div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 center-horizontal">
                        <iframe class="embedPdf" src="" style="width:40%; height:300px;" frameborder="0"></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <form class="form-horizontal" id="pdfDetails">
                                <br />
                                <label class="control-label col-sm-5">Id</label>
                                <div class="col-md-7">
                                    <p class="form-control-static" id="pdfId">pdf id here</p>
                                </div>
                                <label class="control-label col-sm-5">Filename</label>
                                <div class="col-md-7">
                                    <p class="form-control-static" id="pdfFileName">media title here</p>
                                </div>
                                <label class="control-label col-sm-5">Created</label>
                                <div class="col-md-7">
                                    <p class="form-control-static" id="pdfCreated">created date here</p>
                                </div>
                                <label class="control-label col-sm-5">By</label>
                                <div class="col-md-7">
                                    <p class="form-control-static" id="pdfUsername">username here</p>
                                </div>
                                <br />
                                <div class="button-group pull-right">
                                    <button type="button" class="btn btn-danger cmdDeleteDetails">Delete</button>
                                    <button type="button" class="btn btn-primary" id="cmdPdfDetailsEdit">Edit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end media -- pdf details panel-->
        @* bringing in overlapping panels by medLib + imgBank from external file *@
        <ng-include src="'/Scripts/sabio/mediaLibrary/templates/medLib_imgBankPanels.html'"></ng-include>

    </div>
</div>

@section scripts {
    <!--Added in these script/stylesheet tags:-->
    <link href="~/Content/Dropzone/dropzone.css" rel="stylesheet" />
    <link href="~/Content/Dropzone/basic.css" rel="stylesheet" />
    <link href="~/Content/tree-control-attribute.css" rel="stylesheet" />
    <script src="~/Scripts/angular-tree-control.js"></script>
    <!--controller:-->
    <script src="~/Scripts/sabio/mediaLibrary/controllers/MediaLibController.js"></script>
}